.sidebarLinks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem;
  padding: 1rem;

  border-bottom: 1px solid rgba(0, 0, 0, 0.075);
}
.sidebarLinks:hover {
  color: rgb(103, 0, 199);
  cursor: pointer;
}
.sidebarLinks__title {
  margin-left: 1rem;
}
.sidebarLinks__icon {
  font-size: 200;
  height: 2px;
}
